<h1 mat-dialog-title>Add Query </h1>
<div mat-dialog-content>
   <form [formGroup]="queryForm">

     <mat-form-field appearance="outline">
        <mat-label>Type of Apartment</mat-label>
        <mat-select formControlName="Type" placeholder="">
          <mat-option value="All">All</mat-option>
            <mat-option value="Villa">Villa</mat-option>
            <mat-option value="Apartment">Apartment</mat-option>
            <mat-option value="Townhouse">Townhouse</mat-option>
            <mat-option value="Twin House">Twin House</mat-option>
        </mat-select>
</mat-form-field>
      <mat-form-field appearance="outline">
              <mat-label>Minimum Price</mat-label>
              <input formControlName="minPrice"  matInput >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Maximum Price</mat-label>
              <input formControlName="maxPrice"  matInput>
            </mat-form-field>


      <mat-form-field appearance="outline">
      <mat-label>Minimum Area</mat-label>
      <input formControlName="minArea" matInput >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Maximum Area</mat-label>
      <input formControlName="maxArea"  matInput >
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Level of apartment</mat-label>
        <input formControlName="Level" matInput >
      </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Finished</mat-label>
        <mat-select formControlName="Finished" >
           <mat-option value="All">All</mat-option>
            <mat-option value="1">Yes</mat-option>
            <mat-option value="0">No</mat-option>
        </mat-select>
      </mat-form-field>

 <mat-form-field appearance="outline">
        <mat-label>Garden</mat-label>
        <mat-select formControlName="Garden" >
           <mat-option value="All">All</mat-option>
            <mat-option value="1">Yes</mat-option>
            <mat-option value="0">No</mat-option>
        </mat-select>
      </mat-form-field>

  <mat-form-field appearance="outline">
        <mat-label>Sold</mat-label>
        <mat-select formControlName="Sold">
           <mat-option value="All">All</mat-option>
            <mat-option value="1">Yes</mat-option>
            <mat-option value="0">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Seller ID</mat-label>
        <input formControlName="sellerID_id_filter"matInput>
      </mat-form-field>


    <mat-form-field appearance="outline">
        <mat-label>Start date</mat-label>
        <input formControlName="startDate"  matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>End date</mat-label>
        <input   formControlName="EndDate" matInput>

      </mat-form-field>

       <br> <mat-form-field appearance="outline">
            <mat-label>Number of Bathrooms</mat-label>
            <input formControlName="Bathrooms"  matInput >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Number of Bedrooms</mat-label>
            <input formControlName="Bedrooms"  matInput >
          </mat-form-field>
   </form>
</div>
<div mat-dialog-action >
  <!--  <button mat-raised-button color="warn" mat-dialog-close >Close</button> -->
    <button style="margin-left: 8px;"mat-raised-button color="primary" (click)="submit()">Submit</button>
</div>
