
<h1 mat-dialog-title>Set Payment</h1>
<div mat-dialog-content>
  <form [formGroup]="propertyForm">
    <mat-form-field appearance="outline">
      <mat-label>Deposit</mat-label>
      <input formControlName="deposit" matInput type="number" placeholder="Deposit">
    </mat-form-field>
    <label><h3>Years: </h3></label><br>
    <mat-radio-group formControlName="years" class="radio-group">
      <mat-radio-button class="radio-button" *ngFor="let years of yearsList" [value]="years">{{years}}</mat-radio-button>
    </mat-radio-group>
  </form>
</div>
<div mat-dialog-action [align]="'center'">
<button mat-raised-button color="primary" (click)="onCalc()">Calculate Payment</button>
<button style="margin-left: 5px;" mat-raised-button color="warn" mat-dialog-close="">Close</button>

</div>











































  <!--<form [formGroup]="service.form" class="normal-form" (ngSubmit)="getPropertyData(service.form.value)">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="$key">
            <div class="add-bottom-padding">
              <mat-form-field appearance="outline">
                <mat-label>Deposit</mat-label>
                <input formControlName="deposit" type="number" matInput placeholder="Deposit">
                <mat-error>This field is mandatory</mat-error>
                <mat-error *ngIf="service.form.controls['deposit'].errors?.['minlength']">Minimum deposit required 100,000</mat-error>
              </mat-form-field>
            </div>
            <div class="add-bottom-padding">
              <strong><mat-label>Years: </mat-label></strong><br>
              <mat-radio-group formControlName="years">
                <mat-radio-button *ngFor="let deposit of depositList" [value]="deposit">{{deposit}}</mat-radio-button>
              </mat-radio-group>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Deliver Date:</mat-label>
              <input formControlName="deliverDate" matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="add-bottom-padding">
              <mat-checkbox formControlName="equalInstall">Equal Installments</mat-checkbox>
            </div>
            <div class="button-row">
              <button mat-raised-button color="warn" type="sumbit" [disabled]="service.form.invalid">Sale</button>
            </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>

      </mat-grid-tile>
    </mat-grid-list>

  </form>-->
