<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">New Eden</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav  ms-auto">
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect aria-current="page" routerLink=""  routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="admin-dashboard"  routerLinkActive="active-link">Analyze</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="manage-employee"  routerLinkActive="active-link">Manage Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="manage-constraints"  routerLinkActive="active-link">Manage Constraints</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="manage-properties"  routerLinkActive="active-link">Manage Homes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="login"  routerLinkActive="active-link">Login</a>
          </li>
        </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
