<section class="jumborton main-home-section">
  <div class="bg-image">
      <div class="content">
<!--          <h1>BEAUTIFUL HOMES <br/> MADE FOR YOU</h1>-->
<!--          <button type="button" class="btn btn-outline-primary"><a routerLink="price-prediction"  routerLinkActive="active-link"> Find Your Ideal Property</a></button>-->
      </div>
  </div>
</section>


<div class="filtration">
<div class="row">
  <div class="col bg-light">
    <mat-form-field>
      <mat-label>Search Property</mat-label>
      <input [(ngModel)]="type" matInput placeholder="Search">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onTypeFilter()"><i class="fa-solid fa-magnifying-glass"></i></button>
    <button mat-raised-button color="primary" (click)="onTypeFilterClear()"><i class="fa-solid fa-xmark"></i></button> &nbsp;


<div class="row">

<div class="shadow-none bg-light col-sm-4 mb-4 p-5" style="margin-top:20px" *ngFor="let property of properties |filter:searchType:'type'| paginate: {itemsPerPage: 9, currentPage : page , totalItems: totalLength} ">
  <app-property-card [property]="property"></app-property-card>
</div>

<pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
</div>
