<div class="row shadow-lg">
  <div class="col-sm-6 p-3">
    <div class="card">
      <div class="card-img-wrapper">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
      </div>
      <div style="height: 300px;"class="card-body">
        <h1 class="card-title">{{property.Name}}</h1>
       <hr>
       <div style="display: flex;">
          <div>
            <i class="fas fa-home"></i> {{property.Type}}
          </div>
        <div style="flex:1; padding-left: 450px;" mat-dialog-action>
          <button  mat-raised-button color="primary" (click)="onSell()">Sell</button>
        </div>
        </div>
            <div>
            <strong >Price: </strong>{{property.PriceinEGP}}
          </div >

          </div>

    </div>
  </div>
  <div class="col-sm-4 p-0">
    <div class="tab-panel p-3">
      <mat-tab-group  animationDuration="1000ms">
        <mat-tab  label="Overview">
            <div class="row">
              <div class="col-sm-10">
                <div class="heading">
                  <strong>Finished:</strong>
                  <p>{{property.Finished}}</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="heading">
                  <strong>Project Name:</strong>
                  <p>{{property.Name}}</p>
                </div>
                <div class="heading">
                  <strong>Garden</strong>
                <p>{{property.Garden}}</p>
                </div>
                <div class="heading">
                  <strong>Level:</strong>
                  <p>{{property.Level}}</p>
                </div>
              </div>

                <div class="col-sm-6">
                  <div class="heading">
                      <strong>Area: </strong>
                      <p>{{property.Areainsqm}}<sup>2</sup></p>
                  </div>
                  <div class="heading">
                    <strong>BHK:</strong>
                    <p>
                    <i class="fas fa-bed"></i> {{property.Bedrooms}}
                    <i class="fas fa-bath"></i> {{property.Bathrooms}}
                  </p>
                  </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Payment Calculations">
          <form [formGroup]="propertyForm">
            <mat-form-field appearance="outline">
              <mat-label>Deposit</mat-label>
              <input formControlName="deposit" matInput type="number" placeholder="Deposit">
            </mat-form-field>
            <mat-form-field appearance="outline">
            <mat-label>Years</mat-label>
              <input formControlName="years" matInput type="number" placeholder="years">
            </mat-form-field>
            </form>

        <div mat-dialog-action [align]="'center'">
        <button mat-raised-button color="primary" (click)="onCalc()">Calculate Payment</button>
        </div>
        </mat-tab>
        <mat-tab label="Sell Details">
            <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="cash_price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> cash price </th>
              <td  mat-cell *matCellDef="let row" style="padding-left :10" > {{row.cash_price}} </td>
            </ng-container>

            <ng-container matColumnDef="added_expenses">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Added Expenses </th>
              <td style="padding-left: 20px;" mat-cell *matCellDef="let row" > {{row.added_expenses}} </td>
            </ng-container>

            <ng-container matColumnDef="grand_total_with_interest">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
              <td  mat-cell *matCellDef="let row"> {{row.grand_total_with_interest}} </td>
            </ng-container>


            <ng-container matColumnDef="monthly_installment">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Monthly Installment </th>
              <td style="padding-left: 20px;" mat-cell *matCellDef="let row"> {{row.monthly_installment}} </td>
            </ng-container>

            <ng-container matColumnDef="receiving_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Receiving Date </th>
              <td style="padding-left: 10px;" mat-cell *matCellDef="let row"> {{row.receiving_date}} </td>
            </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>


        </mat-tab>
      </mat-tab-group>

    </div>

  </div>
</div>
