<div class="card">
  <div class="card-img-wrapper">
    <img *ngIf="!property.image1" class="card-img-top" src="../../../../../assets/AinSokhna.jpg">

    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/property-detail/{{property.id}}"><i class="far fa-edit"></i></button>
      </li>
    </ul>
</div>
<!--*ngIf="searchText === '' || property.type.toLowerCase().includes(searchText)-->
  <div class="card-body p-3">
    <h1 class="mb-0">{{property.Name}} </h1>

    <h3><i class="fa-solid fa-house-chimney"></i> {{property.Type}} </h3>
    <hr class="mt-0 mb-2">
    <h4 class="mb-0">Price: <span class="font-highlight"> {{property.PriceinEGP}}</span> | Area:<span class="font-highlight"> {{property.Areainsqm}}</span></h4>
  </div>
</div>


